global:
  nodeSelector:
    node-role: worker
  # tolerations:
  #   - key: "node-role"
  #     operator: "Equal"
  #     value: "worker"
  #     effect: "NoSchedule"

grafana:
  enabled: false

alertmanager:
  enabled: false

defaultRules:
  create: false

nodeExporter:
  enabled: true
  resources:
    requests:
      cpu: 50m
      memory: 64Mi
    limits:
      memory: 128Mi

kubeStateMetrics:
  enabled: true
  resources:
    requests:
      cpu: 50m
      memory: 64Mi
    limits:
      memory: 128Mi

prometheusOperator:
  enabled: true

prometheus:
  enabled: true
  prometheusSpec:
    retention: 6h

    resources:
      requests:
        cpu: 100m
        memory: 256Mi
      limits:
        cpu: 300m
        memory: 512Mi

    storageSpec:
      volumeClaimTemplate:
        spec:
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 1Gi
